{% extends 'kingAdmin/adminTable.html' %}
{% block main %}
    <div class="panel panel-primary">
  <div class="panel-heading">用户[ {{obj.name}} ]密码重置</div>

  <div class="panel-body">
    <form method="post" class="form-horizontal col-md-6">
        {% csrf_token %}
        {% if error %}
        {{ error }}
        {% endif %}
        <div class="form-group">用户:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label">
            <input class="form-control" disabled="" value="{{ obj.email }}">
        </label></div>
        <div class="form-group">旧密码：&nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label">
            <input class="form-control" type="password" name="old_pass">
        </label></div>
        <div class="form-group">新密码：&nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label">
            <input class="form-control" type="password" name="password1">
        </label></div>
        <div class="form-group">再次输入：<label class="control-label">
            <input class="form-control" type="password" name="password2">
        </label></div>
        <div class="form-group">
            <button type="submit" class="btn btn-info" style="margin-left: 215px">提交</button>
        </div>
    </form>

  </div>
</div>
{% endblock %}
