{% extends 'cover.html' %}
{% block cover %}
        <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Temperature  Get</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/user/">用户</a></li>
                  <li><a href="/sales/">销售</a></li>
                  <li><a href="#">boss</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">User login</h1>
            <p class="lead">
              <a href="temperature/" class="btn btn-lg btn-default">登录</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover<a href="#"></a>, by <a href="#">@jcr</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock %}